<% @book.book_comments.each do |comment| %>
  <p>
    <% if comment.user %>
      <%= comment.user.name %>
    <% else %>
       <i>Unknown user</i>
    <% end %>
       : <%= comment.content %></p>
  <%= link_to 'Delete', book_book_comment_path(@book, comment), method: :delete if current_user.id == comment.user_id %>
<% end %>
