<h1>検索結果</h1>

<% if @search_type == 'User' %>
  <% @results.each do |user| %>
    <%= link_to user.name, user_path(user) %><br>
  <% end %>
<% elsif @search_type == 'Book' %>
  <% @results.each do |book| %>
    <%= link_to book.title, book_path(book) %><br>
  <% end %>
<% end %>
